@media(prefers-reduced-motion: no-preference){
    *{
        scroll-behavior: smooth;
    }
}

body{
    font-family: 'Segoe UI', Roboto;
    display: block;

}

#main{
    padding: 0 10%;
    display: flexbox;
    background-color: azure;
    padding-bottom: 20px;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.subtitle{
    font-size: 18px;
    padding-top: 17px;
}

p , #headline{
    text-align: center;
}

#headline{
    padding-bottom: 20px;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div{
    padding: 30px;
    text-align: center;
    background-color: white;
    min-width: fit-content;
    min-height: fit-content;

}

#list{
    text-align: justify;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}